modules = ["php-8.2", "web"]
run = "php -S 0.0.0.0:5000"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "php -S 0.0.0.0:5000"]

[workflows]
runButton = "Start PHP Server"

[[workflows.workflow]]
name = "Start PHP Server"
author = 46280865
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000"
